.navbar_container {
  position: fixed;
  z-index: 100;
  color: white;
  padding: 24px 40px;
  width: 100vw;
  transition: 0.5s ease;
  .detail_menu {
    display: flex;
    .menu_item {
      margin-right: 50px;
      font-size: 20px;
      cursor: pointer;
    }
    .menu_item:hover {
      animation: shake 0.5s ease;
    }
    @keyframes shake {
      0% { transform: translateX(0); }
      25% { transform: translateX(-5px); } /* Bergeser ke kiri */
      50% { transform: translateX(5px); } /* Bergeser ke kanan */
      75% { transform: translateX(-5px); } /* Bergeser ke kiri */
      100% { transform: translateX(0); }
    }
  }
}
