@import "../../../utils/reponsive.scss";

.about_wrapper {
  padding: 0 40px;
  overflow: hidden !important;
  margin-top: 200px;
  @include phone-screen {
    padding: 0 20px;
    margin-top: 100px;
  }
}

.title {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 10px;
  @include phone-screen {
    font-size: 24px;
  }
}

.description {
  font-size: 18px;
  @include phone-screen {
    font-size: 14px !important;
  }
}

.sub_title {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 20px;
  @include phone-screen {
    font-size: 20px;
  }
}
