.modal_icon {
  color: green;
  font-size: 80px;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}

.description {
  text-align: center;
  font-size: 16px;
}
